*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Container */
.primary-container{
    max-width: 80%;
    margin: auto;
}

.secondary-container{
    max-width: 100vw;
    margin: auto;
}

/* Buttons */
.main-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 58, 229);
    cursor: pointer;
}

/* Grid */
.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.grid-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

/* Flex */
.flex-center-x{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-center-y{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* Cards */

/* Nav Bar */
.navbar .nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo-container{
    width: 200px;
    height: 120px;
    overflow: hidden;
}

.navbar .logo{
    width: 100%;
    height: 100%;
}

.navbar .logo img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.navbar .nav-menu ul{
    list-style: none;
    display: flex;

}

.navbar .nav-menu ul a{
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--nav-menu-txt);
    transition: 0.5s;
}

.navbar .nav-menu ul a:hover{
    background-color: var(--nav-menu-txt);
    color: white;
}


.navbar .nav-menu ul li{
    /* padding: 5px; */
    margin: 5px;
}


/* Hero */
.hero{
    height: 80vh;
    background-color: rgb(139, 138, 138);
}

.hero .main-heading span{
    color: var(--nav-menu-txt);
}

.hero .main-heading{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Products Display */
.main-products{
    padding: 40px 0px;
}

.main-products .container{
    height: 40vh;
    display: flex;
    align-items: last baseline;
    justify-content: center;
    background-color: aqua;
}

.main-products h3{
    color: white;
    background-color: var(--nav-menu-txt);
    width: 100%;
    padding: 10px 0px;
    text-align: center;
}

/* Pre and Post sales services */
.sales-services{
    background-color: var(--gray-color);
    padding: 40px 0px;
}

.sales-services h2{
    /* text-align: center; */
    padding: 40px 0px;
    color: var(--black);
}

.sales-services .cards{
    overflow: hidden;
    height: 40vh;
    background-color: var(--cards-color);
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 20px 0px #b9b8b891;
}

.sales-services .cards p{
    padding: 4px 10px;
}

.sales-services .get-qoute-sec{
    width: 100%;
    height: 30vh;
    background-color: var(--cards-color);
    margin:40px 0px;
    border-radius: 5px;
    border: 3px solid var(--nav-menu-txt);
}

.sales-services .get-qoute-sec .container-2{
    width: 50%;
    height: 30vh;
    padding: 25px 20px;
}

.sales-services .get-qoute-sec .container-2 h2{
    font-weight: 400;
    padding: 0;
}

.sales-services .get-qoute-sec .container-2 button{
    margin-top: 15px;
}

/* Utilites */
/* Colors */
:root{
    --primary-color: white;
    --secondary-color:  rgb(26, 26, 26);
    --cards-color: rgb(255, 255, 255);
    --gray-color:  rgba(223, 223, 223, 0.75);
    --background-color: rgb(249, 249, 254);
    --nav-menu-txt: rgb(58, 58, 229);
    --black: black;
    /* RGB 108, 122, 140 */
}
/* Font Size */
.font-xxl{
    font-size: 3rem;
    font-weight: 600;
    color: rgb(250, 250, 250);
    line-height: 1.5em;
}
.font-xl{
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(250, 250, 250);
}
.font-l{
    font-size: 1.2rem;
    font-weight: 400;
    /* color: black; */
}
.font-s{
    font-size: 0.9rem;
    font-weight: 300;
    color: black;
}
.font-es{
    font-size: 0.8rem;
    font-weight: 300;
    color: black;
}